* {
    box-sizing: border-box;
  }

  .unique-plant {

  }

  .unique-plant-name {
    font-family: 'Bad Script', cursive;
    font-size: 28px;
    color: rgb(21, 141, 109);

  }

  .unique-plant-details {
    margin-left: 20px;
    text-align: center; 
    font-family: 'Manjari', sans-serif;
    font-size: 18px;
    color: rgb(21, 141, 109);

  }

  .unique-plant-image img {
    height: auto;
    max-height: 500px;
    max-width: 100%;
    border: 4px solid black;
  }

  .unique-plant button {
    height: 50px;
    background: rgb(47, 233, 180);
    color: black;
    margin: 10px;
    border: 1px solid black;
    font-family: 'Manjari', sans-serif;
    font-size: 14px;
    border-radius: 5px;
  }

  .unique-plant button:hover {
      cursor: pointer;
  }