* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

  .search-bar-container {
      margin: 20px;
  }

  .search-form input {
    border-radius: 10px;
  }

  .search-form button {
      width: 30px;
      height: 30px;
      margin: 10px;
      font-family: 'Manjari', sans-serif;
      background: rgb(47, 233, 180);
      border: 2px solid black;
      border-radius: 5px;
  }

  .search-form button:hover {
    cursor: pointer;
  }

  .search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 10px;
  }

  .search-results section {
    background-color: rgb(93, 214, 144);
    width: 32%;
    height: 250px;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
  }
  
  .search-results section:nth-child(even) {
    background-color: rgb(173, 245, 197);
  }

  .search-results a {
      font-size: 14px;
      text-decoration: none;
  }

  .search-results a:hover {
    cursor: pointer;
    color: orange;
  }


  section img {
    height: 100px;
  }

  .loading {
    margin: auto;
    font-size: 20px;
    color: #FF7D12;
    /* cursor: wait; */
  }