* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .search-bar-container {
      margin: 20px;
  }

  .search-results section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  
  .search-results section:nth-child(even) {
    background-color: #ddd;
  }

  .search-results a {
      font-size: 14px;
  }