* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .plant-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .userPlant {
    width: 24%;
    height: auto;
    background: #aaa;
    padding: 20px;
    margin: 2px;
    margin-bottom: 15px;
  }
  

  .userPlant {
    font-size: 15px;
  }