body {
  margin: 0;
  background: #FFFAEE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-height: 680px) {
  /* .app-header {
    background-color: blue;
  } */
}

@media screen and (max-width: 380px) {
  /* .app-header {
    background-color: green;
  } */
}