body {
  margin: 0;
  background: #FFFAEE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  margin-top: 150px;
  font-size: 8px;
}

.copyright {
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: #353EE5;
}

footer a:hover {
  cursor: pointer;
  color: #FF7D12;
}

footer a:visited {
  color: rgb(23, 104, 82);
}

@media screen and (min-height: 680px) {
  /* .app-header {
    background-color: blue;
  } */
  /* TODO - transition from 2 columns to more on larger screen */
}

@media screen and (max-width: 380px) {
  /* .app-header {
    background-color: green;
  } */
}